
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
	
}
section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:Red;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
	margin-top:90px;
	margin-bottom:20px;
}

.heading span{
    color: Black;
    text-transform: uppercase;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body{
	background-image: url(../images/hand.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
	border: 1px solid;
	border-left: none;
}

.nav{
    padding: 8px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: Black;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 35px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    list-style: none;	
    border-top: 3px solid #010101;
	border-left: none;

}

.link{
    text-transform: capitalize;
    padding: 5px;
    margin: 25px;
    text-decoration: none;
    color: Black;
    opacity: 0.5;
    transition: .5s;
	font-weight: bold;
	font-size: 20px;

}

.link:hover{
    opacity: 1;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform-origin: center;
	perspective: 2000px;
}
.home{
	margin-top: -80px;
}
.left{
	flex-basis: 100%;
	animation: animate 3s linear infinite;
}
.left img{
	width: 100%;
	padding-top: 100px;
}


.right{
	flex-basis: 50%;
	max-width: 400px;
	margin-left: -50px;
	margin-right: -50px;
}

.right h1{
	font-size: 42px;
}
.container .right h1 span{
	color: #F31414;
}

.container .right p span{
	color: #F31414;
}

.right p{
	font-size: 25px;
	margin:20px 0px;

}

.Buy-btn{
    padding: 15px 35px;
    border: none;
    outline: ;
    cursor: pointer;
    background: #101010;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	text-decoration: none;
	
}

.service-center {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 5rem;
}

.service {
	border: 3px solid #EC1C1C;
	padding: 1rem 1rem 2rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url(../images/Service_BG.jpg);
}

.service .icon {
	color: Black;
	font-size: 4rem;
}

.service h4 {
	margin-bottom: 1.8rem;
	margin-top: 0.8rem;
	font-size: 1.5rem;
}

.service .text{
	margin-bottom: 0.8rem;
	font-size: 1.5rem;
	color: Black;
}

.about .row{
    display: flex;
    align-items: center;
    background: #13131a;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:#FFC300;
    cursor: pointer;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: .5rem;
	margin-top: 5rem;
}

.btn:hover{
    letter-spacing: .1rem;
	 background: Red;

}


.Best .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.Best .box-container .box{
    flex:1 1 30rem;
    height:25rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #1A1F24;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#D3D3D2;
    border-radius: .5rem;
}

.Best .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.Best .box-container .box:hover img{
    height:75%;
    width:75%;
	
}

.Best .box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 15px;
    color:#333;
    text-transform: uppercase;
	margin-bottom:8px;
}


.Best .box-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
}

.Best .box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #eee;
    color:#2B5177;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.Best .box-container .box .icons a:hover{
    background:Black;
    color:red;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #eee;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
	border: 0.3rem solid #1A1F24;
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:#192a56;
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: Black;
    color:Red;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:#D4EB29;
}

.menu .box-container .box .content h3{
    color:#192a56;
    font-size: 2.5rem;
	text-transform: capitalize;
}

.menu .box-container .box .content p{
    color:#666;
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:Black;
    margin-left: 1rem;
    font-size: 2.5rem;
}

#Products{
	padding: 80px 0px;
}

.Products-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.Products-box{
	flex-basis: 15%;
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;
	background:#D3D3D2;
	border:1rem solid #1A1F24;
}

.Products-box img{
	width: 100%;

}
.Products-box h2{
	margin:20px 0px;
}
.Products-box h3{
	background: black;
	color: white;
	padding: 10px;
	
}

.Products-box:hover{
	transform: translateY(-40px);
	transition: 0.4s ease;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
	border-color: Black;
	border-width:5px;
	background-color:#D3D3D2;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:#D4EB29;
    font-size: 2rem;
}

.review .box-container .box p{
    color:#151613;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 18px;
    color:#151613;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#151613;
}

.contact .row{
    display: flex;
    background:#1A1F24;
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#eee;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:#D3D3D2;
    border-color:Black;
}

.contact .row form .inputBox span{
    color:Black;
    font-size: 2rem;
    padding-right: 2rem;
	padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    text-transform: none;
    background:none;
}

.footer {
	background-color: #f5f5f5;
	margin-top: 10rem;
	border-top:0.3rem solid #1A1F24;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;

}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
	text-transform: capitalize;
	margin-left: 10rem;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:Black;
	text-decoration: None;
	text-transform: capitalize;
	margin-left: 10rem;
}

.footer .box-container .box a:hover{
    color:Red;
    text-decoration: underline;
}
